.container {
  padding: 26px calc(50% - 1140px / 2);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  transition: all, 0.5s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
