.banner {
  background: #000;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: -99;
  overflow: hidden;

  &__critical {
    background-color: #000;
    z-index: 1;

    &_disappear {
      transform: translate(-100%);
    }
  }

  &__innerWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    pointer-events: none;
  }
  
  &__video {
    position: absolute;
    height: 100vh;
    width: 100%;
    opacity: 0;
    object-fit: cover;
    transition: opacity 1s;
  }

  &__video_active {
    opacity: 0.4;
  }
}
