@import "../../styles/vars.scss";

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 calc(50% - 1552px / 2);
  position: absolute;
  top: 33.35%;

  &__button {
    height: 43px;
    width: 24px;
    background-image: url(../../images/arrow_left.svg);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    transition: top 0.5s;

    &:hover {
      background-image: url(../../images/arrow_right.svg);
      cursor: pointer;
    }

    &--left {
      &:hover {
        transform: rotate(180deg);
      }
    }

    &--right {
      transform: rotate(180deg);
      transition: top 0.5s;

      &:hover {
        transform: rotate(0deg);
      }
    }
  }

  &__points {
    position: absolute;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__point {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 21px;
    width: 21px;

    &_active {
      background-image: url(../../images/point_green_border.svg);
    }

    & > * {
      width: 12.65px;
      height: 12.65px;
      background-color: $main-background-color;
      border-radius: 50%;
    }
    & > .active {
      background-color: $highlight-color;
    }
  }
}


@media screen and (max-width: 1600px) {
  .slider {
    padding: 0 30px;
  }
}

@media screen and (max-height: 500px) {
  .slider {
    &__points {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .slider {
    &__points {
      display: none;
    }
  }
}
