@import "../../styles/vars.scss";
.heading {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 33.35%;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $main-background-color;
    font-weight: 600;
  }

  &__title {
    font-weight: inherit;
    font-size: 90px;
    line-height: 111%;
    margin-bottom: 25px;
    transition: all 0.5s;
  }

  &__text {
    font-weight: 600;
    font-size: 18px;
    line-height: 178%;
    padding-bottom: 54px;
    letter-spacing: 0.2px;
    text-align: center;
    transition: all 0.5s;
  }

  &__button {
    width: 172px;
    height: 54px;
    border-radius: 27px;
    border: none;
    background-color: $highlight-color;
    color: $main-background-color;
    cursor: pointer;
    transition: all 0.5s;

    & > a {
      font-family: "Gilroy";
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.1px;
      font-weight: 800;
    }

    &:hover {
      background-color: $main-background-color;
      border-color: $highlight-color;
      color: $highlight-color;
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    }
  }
}

@media screen and (max-width: 1024px) {
  .heading {
    &__title {
      font-size: 50px;
    }

    &__text {
      font-size: 14px;
    }
  }
}


.slider {
  &__button {
    height: 43px;
    width: 24px;
    background-image: url(../../images/arrow_left.svg);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    transition: all 0.5s;
    &:hover {
      background-image: url(../../images/arrow_right.svg);
      cursor: pointer;
    }

    &--left {
      position: absolute;
      top: 45%;
      left: 10%;
      transition: top 0.5s;

      &:hover {
        transform: rotate(180deg);
      }
    }

    &--right {
      position: absolute;
      top: 45%;
      right: 10%;
      transform: rotate(180deg);
      transition: top 0.5s;

      &:hover {
        transform: rotate(0deg);
      }
    }
  }

  &__points {
    position: absolute;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__point {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 21px;
    width: 21px;

    &_active {
      background-image: url(../../images/point_green_border.svg);
    }

    & > * {
      width: 12.65px;
      height: 12.65px;
      background-color: $main-background-color;
      border-radius: 50%;
    }
    & > .active {
      background-color: $highlight-color;
    }
  }
}

@media screen and (max-width: 767px) {
  .heading {
    &__title {
      font-size: 35px;
      line-height: 25px;
      padding-bottom: 10px;
    }

    &__text {
      padding: 0 20px 60px;
    }
  }

  .slider {
    &__button {
      top: 53%;
      &--left {
        left: 3%;
      }

      &--right {
        right: 3%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .heading {
    top: 25%;
    &__title {
      font-size: 25px;
    }

    &__text {
      padding-bottom: 120px;
    }
  }
}

@media screen and (max-height: 500px) {
  .slider {
    &__points {
      display: none;
    }
  }
}
